<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true"> 
    
  <listener>
  	    <listener-class>
  	    	servlet.LoggingContextListener
  	    </listener-class>
  </listener>  
    
  <welcome-file-list>
  	<welcome-file>home</welcome-file>
  </welcome-file-list>
    
  <filter>
  		<filter-name>adminfilter</filter-name>
  		<filter-class>servlet.filters.AdministratorFilter</filter-class>
  </filter>  
  <filter-mapping>
  		<filter-name>adminfilter</filter-name>
  		<url-pattern>/editIndividualRecording</url-pattern>
  		<url-pattern>/songInstanceEdit</url-pattern>
  		<url-pattern>/lookupValues</url-pattern>
  		<url-pattern>/createRecording</url-pattern>
  </filter-mapping>
  
  <filter>
  		<filter-name>samfilter</filter-name>
  		<filter-class>servlet.filters.SessionAttributeMapFilter</filter-class>
  </filter>  
  <filter-mapping>
  		<filter-name>samfilter</filter-name>
  		<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
  	<servlet-name>recentchanges</servlet-name>
  	<servlet-class>servlet.RecentChangesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>recentchanges</servlet-name>
    <url-pattern>/recentchanges</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>home</servlet-name>
    <servlet-class>servlet.HomeController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>graphs</servlet-name>
  	<servlet-class>servlet.GraphsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>authenticate</servlet-name>
  	<servlet-class>servlet.AdminController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>individualRecording</servlet-name>
  	<servlet-class>servlet.IndividualRecordingController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>recordingcomments</servlet-name>
  	<servlet-class>servlet.RecordingCommentController</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>recordingcomments</servlet-name>
    <url-pattern>/recordingcomments</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>filterElements</servlet-name>
  	<servlet-class>servlet.FilterElementController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>songcomments</servlet-name>
  	<servlet-class>servlet.SongCommentController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>song</servlet-name>
  	<servlet-class>servlet.SongController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>songInstanceEdit</servlet-name>
  	<servlet-class>servlet.SongInstanceController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>recordingTable</servlet-name>
  	<servlet-class>servlet.RecordingsListController</servlet-class>
  </servlet>  
  <servlet>
  	<servlet-name>smartSong</servlet-name>
  	<servlet-class>servlet.SmartSongController</servlet-class>
  </servlet> 
  <servlet>
  	<servlet-name>quickSearch</servlet-name>
  	<servlet-class>servlet.QuickSearchController</servlet-class>
  </servlet> 
  <servlet>
  	<servlet-name>editIndividualRecording</servlet-name>
  	<servlet-class>servlet.EditIndividualRecordingController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>randomRecording</servlet-name>
  	<servlet-class>servlet.RandomRecordingController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>createRecording</servlet-name>
  	<servlet-class>servlet.CreateRecordingController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteRecording</servlet-name>
  	<servlet-class>servlet.DeleteRecordingController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>lookupValues</servlet-name>
  	<servlet-class>servlet.LookupValuesController</servlet-class>
  </servlet>
  
  
  <servlet>
  	<servlet-name>tabsession</servlet-name>
  	<servlet-class>servlet.TabSessionController</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>songvotes</servlet-name>
  	<servlet-class>servlet.SongVoteController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>trade</servlet-name>
  	<servlet-class>servlet.TradeController</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>tabsession</servlet-name>
    <url-pattern>/tabsession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>songcomments</servlet-name>
    <url-pattern>/songcomments</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>songvotes</servlet-name>
  	<url-pattern>/songvotes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>trade</servlet-name>
  	<url-pattern>/trade</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>songInstanceEdit</servlet-name>
    <url-pattern>/songInstanceEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>recordingTable</servlet-name>
    <url-pattern>/recordingTable</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>smartSong</servlet-name>
    <url-pattern>/smartSong</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>quickSearch</servlet-name>
    <url-pattern>/quickSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>graphs</servlet-name>
  	<url-pattern>/graphs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>authenticate</servlet-name>
  	<url-pattern>/authenticate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>individualRecording</servlet-name>
  	<url-pattern>/individualRecording</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>editIndividualRecording</servlet-name>
  	<url-pattern>/editIndividualRecording</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>song</servlet-name>
  	<url-pattern>/song</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>filterElements</servlet-name>
  	<url-pattern>/filterElements</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>recordingvotes</servlet-name>
    <servlet-class>servlet.RecordingVoteController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>recordingvotes</servlet-name>
  	<url-pattern>/recordingvotes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>randomRecording</servlet-name>
  	<url-pattern>/randomRecording</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>createRecording</servlet-name>
  	<url-pattern>/createRecording</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteRecording</servlet-name>
  	<url-pattern>/deleteRecording</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>lookupValues</servlet-name>
  	<url-pattern>/lookupValues</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>about</servlet-name>
  	<servlet-class>servlet.AboutController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addSong</servlet-name>
  	<servlet-class>servlet.AddSong</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addBlankSongs</servlet-name>
  	<servlet-class>servlet.AddBlankSongs</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>about</servlet-name>
  	<url-pattern>/about</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addSong</servlet-name>
  	<url-pattern>/addSong</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addBlankSongs</servlet-name>
  	<url-pattern>/addBlankSongs</url-pattern>
  </servlet-mapping>
  
  <jsp-config>
  	<taglib> 
  		<taglib-uri>/formelement</taglib-uri> 
  		<taglib-location>/WEB-INF/tld/formElement.tld</taglib-location> 
  	</taglib>
  	<taglib>
  		<taglib-uri>/recentchanges</taglib-uri>
  		<taglib-location>/WEB-INF/tld/recentChanges.tld</taglib-location>
  	</taglib>  	
  	<taglib> 
  		<taglib-uri>/recordingsutil</taglib-uri> 
  		<taglib-location>/WEB-INF/tld/recordingsUtil.tld</taglib-location> 
  	</taglib>
  	<taglib> 
  		<taglib-uri>/sam</taglib-uri> 
  		<taglib-location>/WEB-INF/tld/sam.tld</taglib-location> 
  	</taglib>
  </jsp-config>
  <filter>
  	<filter-name>hibernatesessionrequestfilter</filter-name>
  	<filter-class>servlet.filters.HibernateSessionRequestFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>hibernatesessionrequestfilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>