/* @text-color-dark: #353535; */
/* @text-color-dark: #353535; */
/* log colors */
/* @hovered-border-color: #d1dfeb; */
/* @hovered-background-color: #f0f1f2; */
/* used for content panel backgrounds, dialog backgrounds etc */
/* ******* content pane ********* */
/* ******* DialogPaneTitleBar ********* */
/* ******* DialogPaneContent ********* */
/* ******* DialogPaneActionBar ********* */
/* ******* default look ********* */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* ******* default look ********* */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* ******* default look ********* */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* ******* default look ********* */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* ******* default look ********* */
/* @accordion-border: 1px solid #6c7c93; */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* @accordion-selected-border: 1px solid #6c7c93;*/
/* ******* disabled ********* */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* ******* default look ********* */
/* ******* hover ********* */
/* @menuitem-hover-font-weight: 700; */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* ******* default look ********* */
/* ******* selected tab top ********* */
/* ******* hover tab top ********* */
/* ******* active/checked tab top ********* */
/* ******* disabled tab top ********* */
/* ******* disabled ********* */
/* ******* default look ********* */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* not needed at this point */
/************* TOOL BAR SEPARATOR *************** */
/* ******* default look ********* */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* ******* default ********* */
/* ******* hover ********* */
/* ******* selected ********* */
/* ******* active ********* */
/* *** this was from spriteArrows.png and is used extensively @image-arrow-sprite **** */
/* *** this was spriteRoundedIconsSmall.png   @image-sprite-rounded-small */
/* *** this was dnd.png @image-dnd *** */
/* *** this was rotator.png @image-rotator  *** */
/* *** was @image-form-button-arrows: "images/commonFormArrows.png"; *** */
/* *** this was checkboxRadioButtonStates.png and appears to only be used on Menu.less **** */
/* *** this was checkboxRadioButtonStates.png and appears to only be used on Menu.less **** */
/* *** this was checkboxRadioButtonStates.png and appears to only be used on Menu.less **** */
/* *** used to be sliderThumbs.png **** */
/* horizontal */
/* vertical */
/* was tabClose.png @image-layout-tab-close */
/* was tooltip.png @image-tooltip */
body {
  background-image: none;
  background-color: #ffffff;
}
.corporate .helpbutton > .dijitButtonNode {
  border-color: #ffffff;
  background-image: none;
  background-color: #ffffff;
}
.stmFieldset {
  border-top: 1px solid #5d6065;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin-top: 4px;
}
td {
  padding: 6px 0;
}
.stmFieldset > div {
  padding: 4px 0 4px 0;
}
/* ************************************ INFORMATION STATUS ************************************ */
.sasInformationStatusIcon {
  background: transparent url('32_png/InformationStatus.png') center left no-repeat;
  min-width: 32px;
  min-height: 32px;
  text-align: center;
}
.dijitDisabled .sasInformationStatusIcon {
  background: transparent url('32_png/InformationStatus.png') center left no-repeat;
  opacity: 0.4;
  filter: alpha(opacity=40);
  /* For IE8 and earlier */

}
/* ************************************ WARNING STATUS ************************************ */
.sasWarningStatusIcon {
  background: transparent url('32_png/WarningStatus.png') center left no-repeat;
  min-width: 32px;
  min-height: 32px;
  text-align: center;
}
.dijitDisabled .sasWarningStatusIcon {
  background: transparent url('32_png/WarningStatus.png') center left no-repeat;
  opacity: 0.4;
  filter: alpha(opacity=40);
  /* For IE8 and earlier */

}
/* ************************************ ERROR STATUS ************************************ */
.sasErrorStatusIcon {
  background: transparent url('32_png/ErrorStatus.png') center left no-repeat;
  min-width: 32px;
  min-height: 32px;
  text-align: center;
}
.dijitDisabled .sasErrorStatusIcon {
  background: transparent url('32_png/ErrorStatus.png') center left no-repeat;
  opacity: 0.4;
  filter: alpha(opacity=40);
  /* For IE8 and earlier */

}
