.common_panel {
	background-color:#F5EBDA; /* light pink */
}

.common_errorcolor {
	background-color: #FF8888; /* red */	
}

.common_darkerbrown
{
	background-color: #F6CF8D; 	
}

.common_textbrown
{

	color: #703800; 	
}