.mainfilter {
  color:#111;
  padding:0;
  width:79%;
  margin:0px;
  font-family:verdana,Arial,sans-serif;
  font-size:.8em;
}

.mainfilter ul {
	padding-left:20px;
}

.mainfilter li { 
	list-style:none; 
	float:left; 
}

.mainfilter ul span.spanlink {
  display:block;
  padding:3px 9px;
  text-decoration:none!important;
  border:1px solid grey;
  border-bottom:0px;
  margin:0px 9px 0px 0px;
  color:grey;
  background:white;
  cursor:pointer;
  cursor:hand;
}
.mainfilter ul span.spanlink:hover {
  background:#FEF7EC;
}
.mainfilter ul span.selected {
  margin-bottom:0;
  color:#000;
  background:#F5EBDA;
  cursor:default;
  border:2px solid grey;
  font-size:115%;
  letter-spacing:1px;
  font-family:arial;
  border-bottom:0px;
  font-weight:bold;
 }
.mainfilter div {
  padding:3px;
  *padding-top:3px;
  *margin-top:-15px;
  clear:left;
  /*background:#F5EBDA*/;
}
.mainfilter > div {
  border-color: silver Black gray silver;
  border-left: 1px solid silver;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
}

.mainfilter .filterform {
	padding-bottom: 3px;
	margin: 0px 0px;
	position:relative;
	clear:none;
}

.mainfilter .filterform input, .mainfilter .filterform select {
	width:75px;
}

.mainfilter .longinput select {
	width:117px;
}

.filterform .buttonwrapper {
	position: absolute;
    right: 8%;
}

.albumhighlight {
	font-size:115%;
	font-style:italic;
}