/* @text-color-dark: #353535; */
/* BorderContainer 

Splitters and gutters separate panes within a BorderContainer. Splitters can be moved up and down (horizonal splitters) or left and right (vertical splitters), while Gutters are static. A "thumb" is the slit on a Splitter that indicates it is movable. 

Styling the BorderContainer widget consists of the following: 

.dijitBorderContainer - for border and padding of the entire border container

.dijitSplitContainer-child, .dijitBorderContainer-child - for border or child panes of the border container. By default borders are put on all children of BorderContainer.  

.dijitBorderContainer-dijitTabContainerTop,
.dijitBorderContainer-dijitTabContainerBottom,
.dijitBorderContainer-dijitTabContainerLeft,
.dijitBorderContainer-dijitTabContainerRight,
.dijitBorderContainer-dijitAccordionContainer   -for border of the border containers within TabContainer or AccordionContainer widget

.dijitBorderContainer-dijitBorderContainer - for border and padding of nested BorderContainers

Splitters and gutters:  

.dijitSplitterH, .dijitGutterH - for height, background, and border of a horizontal splitter and gutter 
.dijitSplitterH .dijitSplitterThumb - for color, height/width of the thumb on a horizontal splitter
.dijitSplitterV, .dijitGutterV - - for height, background, and border of a vertical splitter and gutter 
.dijitSplitterV .dijitSplitterThumb - for color, height/width of the thumb on a vertical splitter
.dijitSplitterHHover - for background-color of a hovered horizontal splitter
.dijitSplitterHHover .dijitSplitterThumb - for background-color of a hovered thumb on a horizontal splitter
.dijitSplitterVHover  - for background-color of a hovered vertical splitter
.dijitSplitterVHover .dijitSplitterThumb - for background-color of a hovered thumb on a vertical splitter
.dijitSplitterHActive - for background-color of an active horizontal splitter
.dijitSplitterVActive - for background-color of an active horizontal splitter
*/
/* @text-color-dark: #353535; */
/* log colors */
/* @hovered-border-color: #d1dfeb; */
/* @hovered-background-color: #f0f1f2; */
/* used for content panel backgrounds, dialog backgrounds etc */
/* ******* content pane ********* */
/* ******* DialogPaneTitleBar ********* */
/* ******* DialogPaneContent ********* */
/* ******* DialogPaneActionBar ********* */
/* ******* default look ********* */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* ******* default look ********* */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* ******* default look ********* */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* ******* default look ********* */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* ******* default look ********* */
/* @accordion-border: 1px solid #6c7c93; */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* @accordion-selected-border: 1px solid #6c7c93;*/
/* ******* disabled ********* */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* ******* default look ********* */
/* ******* hover ********* */
/* @menuitem-hover-font-weight: 700; */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* ******* default look ********* */
/* ******* selected tab top ********* */
/* ******* hover tab top ********* */
/* ******* active/checked tab top ********* */
/* ******* disabled tab top ********* */
/* ******* disabled ********* */
/* ******* default look ********* */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* not needed at this point */
/************* TOOL BAR SEPARATOR *************** */
/* ******* default look ********* */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* ******* default ********* */
/* ******* hover ********* */
/* ******* selected ********* */
/* ******* active ********* */
/* *** this was from spriteArrows.png and is used extensively @image-arrow-sprite **** */
/* *** this was spriteRoundedIconsSmall.png   @image-sprite-rounded-small */
/* *** this was dnd.png @image-dnd *** */
/* *** this was rotator.png @image-rotator  *** */
/* *** was @image-form-button-arrows: "images/commonFormArrows.png"; *** */
/* *** this was checkboxRadioButtonStates.png and appears to only be used on Menu.less **** */
/* *** this was checkboxRadioButtonStates.png and appears to only be used on Menu.less **** */
/* *** this was checkboxRadioButtonStates.png and appears to only be used on Menu.less **** */
/* *** used to be sliderThumbs.png **** */
/* horizontal */
/* vertical */
/* was tabClose.png @image-layout-tab-close */
/* was tooltip.png @image-tooltip */
/***** BORDER CONTAINER    ************************************************************************/
.corporate .dijitBorderContainer {
  padding: 4px;
}
/***** CHILD CONTAINER OF SPLIT AND BORDER   ************************************************************************/
.corporate .dijitSplitContainer-child,
.corporate .dijitBorderContainer-child {
  /* border: 1px solid @base-border-color; */

}
.corporate .dijitBorderContainer-dijitTabContainerTop,
.corporate .dijitBorderContainer-dijitTabContainerBottom,
.corporate .dijitBorderContainer-dijitTabContainerLeft,
.corporate .dijitBorderContainer-dijitTabContainerRight,
.corporate .dijitBorderContainer-dijitAccordionContainer {
  /* except that TabContainer defines borders on it's sub-nodes (tablist and dijitTabPaneWrapper),
	 * so override rule setting border on domNode
	 */

  border: none;
}
.corporate .dijitBorderContainer-dijitBorderContainer {
  border: 0;
  padding: 0;
}
/***** SPLITTERS AND GUTTERS   ************************************************************************/
.corporate .dijitSplitterH,
.corporate .dijitGutterH {
  background: none;
  border: 0;
  height: 8px;
  border: 0;
  height: 8px;
  margin: 4px;
}
.corporate .dijitSplitterH .dijitSplitterThumb {
  background: transparent url(images/splitterh.png) center center no-repeat;
  height: 8px;
  width: 100px;
}
.corporate .dijitSplitterV,
.corporate .dijitGutterV {
  background: none;
  border: 0;
  width: 8px;
  margin: 4px;
}
.corporate .dijitSplitterV .dijitSplitterThumb {
  background: transparent url(images/splitterv.png) center center no-repeat;
  width: 8px;
  height: 100px;
}
/***** HOVERED SPLITTER   ************************************************************************/
.corporate .dijitSplitterHHover,
.corporate .dijitSplitterVHover {
  font-size: 1px;
  /* background-color: @splitter-hovered-background-color; */

}
.corporate .dijitSplitterHHover {
  /* could have a color */

}
.corporate .dijitSplitterVHover {
  /* could have a color */

}
.corporate .dijitSplitterHHover .dijitSplitterThumb,
.corporate .dijitSplitterVHover .dijitSplitterThumb {
  /* background: @hovered-border-color none; */

}
/***** ACTIVE SPLITTER   ************************************************************************/
.corporate .dijitSplitterHActive,
.corporate .dijitSplitterVActive {
  font-size: 1px;
  background-color: #e0e2e5;
  background-image: none;
}
