/* @text-color-dark: #353535; */
/* //////////////////////**** THIS IS A BASIC CORE GRID ************************************************************/
/* @text-color-dark: #353535; */
/* log colors */
/* @hovered-border-color: #d1dfeb; */
/* @hovered-background-color: #f0f1f2; */
/* used for content panel backgrounds, dialog backgrounds etc */
/* ******* content pane ********* */
/* ******* DialogPaneTitleBar ********* */
/* ******* DialogPaneContent ********* */
/* ******* DialogPaneActionBar ********* */
/* ******* default look ********* */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* ******* default look ********* */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* ******* default look ********* */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* ******* default look ********* */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* ******* default look ********* */
/* @accordion-border: 1px solid #6c7c93; */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* @accordion-selected-border: 1px solid #6c7c93;*/
/* ******* disabled ********* */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* ******* default look ********* */
/* ******* hover ********* */
/* @menuitem-hover-font-weight: 700; */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* ******* default look ********* */
/* ******* selected tab top ********* */
/* ******* hover tab top ********* */
/* ******* active/checked tab top ********* */
/* ******* disabled tab top ********* */
/* ******* disabled ********* */
/* ******* default look ********* */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* not needed at this point */
/************* TOOL BAR SEPARATOR *************** */
/* ******* default look ********* */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* ******* default ********* */
/* ******* hover ********* */
/* ******* selected ********* */
/* ******* active ********* */
/* *** this was from spriteArrows.png and is used extensively @image-arrow-sprite **** */
/* *** this was spriteRoundedIconsSmall.png   @image-sprite-rounded-small */
/* *** this was dnd.png @image-dnd *** */
/* *** this was rotator.png @image-rotator  *** */
/* *** was @image-form-button-arrows: "images/commonFormArrows.png"; *** */
/* *** this was checkboxRadioButtonStates.png and appears to only be used on Menu.less **** */
/* *** this was checkboxRadioButtonStates.png and appears to only be used on Menu.less **** */
/* *** this was checkboxRadioButtonStates.png and appears to only be used on Menu.less **** */
/* *** used to be sliderThumbs.png **** */
/* horizontal */
/* vertical */
/* was tabClose.png @image-layout-tab-close */
/* was tooltip.png @image-tooltip */
/***** CONTAINERS ************************************************************************/
.container {
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  *zoom: 1;
}
.container:before,
.container:after {
  display: table;
  content: "";
}
.container:after {
  clear: both;
}
.container-fluid {
  padding: 1.5em 1.5em 1.5em 1.5em;
  *zoom: 1;
}
.container-fluid:before,
.container-fluid:after {
  display: table;
  content: "";
}
.container-fluid:after {
  clear: both;
}
.container-fluid .main .row-fluid {
  background: #e0e2e5;
}
/***** ROWS FLUID ************************************************************************/
.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
}
.row-fluid:after {
  clear: both;
}
.row-fluid > [class*="span"] {
  float: left;
  /* margin-left: 2.127659574%; */

}
.row-fluid > [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid > .span12 {
  width: 99.99999998999999%;
}
.row-fluid > .span11 {
  width: 91.489361693%;
}
.row-fluid > .span10 {
  width: 82.97872339599999%;
}
.row-fluid > .span9 {
  width: 74.468085099%;
}
.row-fluid > .span8 {
  width: 65.95744680199999%;
}
.row-fluid > .span7 {
  width: 57.446808505%;
}
.row-fluid > .span6 {
  width: 48.93617020799999%;
}
.row-fluid > .span5 {
  width: 40.425531911%;
}
.row-fluid > .span4 {
  width: 31.914893614%;
}
.row-fluid > .span3 {
  width: 23.404255317%;
}
.row-fluid > .span2 {
  width: 14.89361702%;
}
.row-fluid > .span1 {
  width: 6.382978723%;
}
/***** COLUMN SPANS ************************************************************************/
.span12 {
  width: 940px;
}
.span11 {
  width: 860px;
}
.span10 {
  width: 780px;
}
.span9 {
  width: 700px;
}
.span8 {
  width: 620px;
}
.span7 {
  width: 540px;
}
.span6 {
  width: 460px;
}
.span5 {
  width: 380px;
}
.span4 {
  width: 300px;
}
.span3 {
  width: 220px;
}
.span2 {
  width: 140px;
}
.span1 {
  width: 60px;
}
/***** HEADER AREA SUPPLEMENTALS ************/
/** header itself is in document.css **/
header .container-fluid {
  padding: 0;
}
header .row-fluid {
  padding: .25em 0 .5em .25em;
}
header .row-fluid > .span4 {
  width: 35%;
}
header .row-fluid > .span8 {
  text-align: right;
  width: 60%;
  float: right;
  padding-right: 1em;
}
header .row-fluid > .span4 > h1,
header .row-fluid > .span12 > h1 {
  margin: 0;
  padding: 0 .25em 0 .25em;
  color: #ffffff;
  font-size: 1.75em;
}
header .row-fluid > .span4 > h1 a,
header .row-fluid > .span12 > h1 a {
  color: #353535;
  text-decoration: none;
}
header .row-fluid > .span4 > h1 a:hover,
header .row-fluid > .span12 > h1 a:hover {
  color: #ffffff;
  text-decoration: underline;
}
header .row-fluid > .span12 > h1 > span.reg,
header .row-fluid > .span4 > h1 > span.reg {
  vertical-align: 12px;
  font-size: .70em;
}
header .span8 img.helpbutton {
  vertical-align: bottom;
}
/***** FOOTER SUPPLEMENTAL  ************************************************************************/
footer .container-fluid {
  /* padding: 0 .25em 0 .25em; */

  padding: 0;
  background-color: transparent;
  margin: 0;
}
footer .container-fluid > .row-fluid > .span12 {
  padding: 0;
  text-align: right;
}
footer .container-fluid > .row-fluid > .span3 {
  text-align: right;
  padding-top: 0;
}
.keymain {
  height: 96%;
  padding: 0;
}
.insetkeymain {
  background-color: yellow;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
