/* @text-color-dark: #353535; */
/* Tree 
 * 
 * Styling Tree mostly means styling the TreeRow (dijitTreeRow)
 * There are 4 basic states to style:
 * 
 * Tree Row:
 * 1. tree row (default styling): 
 * 		.dijitTreeRow - styles for each row of the tree
 *
 * 2. hovered tree row (mouse hover on a tree row)
 * 		.dijitTreeRowHover - styles when mouse over on one row
 * 
 * 3. active tree row (mouse down on a tree row)
 * 		.dijitTreeRowActive - styles when mouse down on one row
 * 
 * 4. selected tree row
 * 		dijitTreeRowSelected - style when the row has been selected
 * 
 * Tree Expando:
 * 	    dijitTreeExpando - the expando at the left of the text of each tree row
 * 
 * Drag and Drop on TreeNodes: (insert line on dijitTreeContent node so it'll aligned w/ target element)
 * 		.dijitTreeNode .dojoDndItemBefore/.dojoDndItemAfter - use border style simulate a separate line
 */
/* @text-color-dark: #353535; */
/* log colors */
/* @hovered-border-color: #d1dfeb; */
/* @hovered-background-color: #f0f1f2; */
/* used for content panel backgrounds, dialog backgrounds etc */
/* ******* content pane ********* */
/* ******* DialogPaneTitleBar ********* */
/* ******* DialogPaneContent ********* */
/* ******* DialogPaneActionBar ********* */
/* ******* default look ********* */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* ******* default look ********* */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* ******* default look ********* */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* ******* default look ********* */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* ******* default look ********* */
/* @accordion-border: 1px solid #6c7c93; */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* @accordion-selected-border: 1px solid #6c7c93;*/
/* ******* disabled ********* */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* ******* default look ********* */
/* ******* hover ********* */
/* @menuitem-hover-font-weight: 700; */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* ******* default look ********* */
/* ******* selected tab top ********* */
/* ******* hover tab top ********* */
/* ******* active/checked tab top ********* */
/* ******* disabled tab top ********* */
/* ******* disabled ********* */
/* ******* default look ********* */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* not needed at this point */
/************* TOOL BAR SEPARATOR *************** */
/* ******* default look ********* */
/* ******* hover ********* */
/* ******* active/checked ********* */
/* ******* selected ********* */
/* ******* disabled ********* */
/* ******* default ********* */
/* ******* hover ********* */
/* ******* selected ********* */
/* ******* active ********* */
/* *** this was from spriteArrows.png and is used extensively @image-arrow-sprite **** */
/* *** this was spriteRoundedIconsSmall.png   @image-sprite-rounded-small */
/* *** this was dnd.png @image-dnd *** */
/* *** this was rotator.png @image-rotator  *** */
/* *** was @image-form-button-arrows: "images/commonFormArrows.png"; *** */
/* *** this was checkboxRadioButtonStates.png and appears to only be used on Menu.less **** */
/* *** this was checkboxRadioButtonStates.png and appears to only be used on Menu.less **** */
/* *** this was checkboxRadioButtonStates.png and appears to only be used on Menu.less **** */
/* *** used to be sliderThumbs.png **** */
/* horizontal */
/* vertical */
/* was tabClose.png @image-layout-tab-close */
/* was tooltip.png @image-tooltip */
.corporate .dijitTreeNode {
  zoom: 1;
  /* force layout on IE (TODO: may not be needed anymore) */

}
.corporate .dijitTreeIsRoot {
  background-image: none;
}
/* Styling for basic tree node (unhovered, unselected)
 * Also use this styling when dropping between items on the tree (in other words, don't
 * use hover effect)
 */
.corporate .dijitTreeRow {
  padding: 2px 0 4px 0;
}
.corporate .dijitTreeRow,
.corporate .dijitTreeNode .dojoDndItemBefore,
.corporate .dijitTreeNode .dojoDndItemAfter {
  /* padding: 4px 0 2px 0; */

  /* background-color: @tree-background-color; */

  background-position: 0 0;
  background-repeat: repeat-x;
  border: 0 solid #5d6065;
  color: #353535;
  -webkit-transition-property: background-color, border-color;
  -moz-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* ******* hover ********* */
.corporate .dijitTreeRowHover {
  color: #353535;
  background-color: #d1dfeb;
  /* padding: 3px 0 1px; */

  border: 0 solid #d1dfeb;
  /* border-width: 1px 0; */

  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
/* ******* selected ********* */
.corporate .dijitTreeRowSelected {
  background-color: #d1dfeb;
  color: #353535;
  /* padding: 3px 0 1px; */

  border: 0 solid #d1dfeb;
  font-weight: 700;
}
/* ******* active ********* */
.corporate .dijitTreeRowActive {
  color: #233d55;
  background-color: #d1dfeb;
  /* padding: 3px 0 1px; */

  /* border-width: 1px 0; */

  border-color: #d1dfeb;
  border: 0 solid #d1dfeb;
}
/* ******* focused ********* */
.corporate .dijitTreeRowFocused {
  background-repeat: repeat;
}
/* expando (open/closed) icon */
/* ******* ICON OPENED (+) ******** */
.corporate .dijitTreeExpando {
  background-image: url("images/treeExpandImagesopen.png");
  width: 16px;
  height: 16px;
  background-position: 0 0;
  /* for dijitTreeExpandoOpened */

}
/* ******* ICON OPENED HOVER (+)  ******** */
.corporate .dijitTreeRowHover .dijitTreeExpandoOpened {
  background-image: url("images/treeExpandImagesopenhover.png");
  background-position: 0 0;
}
/* ******* ICON CLOSED (-) ******** */
.corporate .dijitTreeExpandoClosed {
  background-image: url("images/treeExpandImagesclosedhover.png");
  background-position: 0 0;
}
/* ******* ICON CLOSED HOVER (-) ******** */
.corporate .dijitTreeRowHover .dijitTreeExpandoClosed {
  background-image: url("images/treeExpandImagesclosed.png");
  background-position: 0 0;
}
/* ******* ICON + ******** */
.corporate .dijitTreeExpandoLeaf {
  background-image: none;
}
.corporate .dijitTreeExpandoLoading {
  background-color: transparent;
  background-image: url("images/sasIcons/sasdark/other_png/loadingAnimation.gif");
  width: 16px!important;
}
/* Drag and Drop on TreeNodes
 * Put insert line on dijitTreeContent node so it's aligned w/
 * (ie, indented equally with) target element, even
 * though dijitTreeRowNode is the actual "drag object"
 */
.corporate .dijitTreeNode .dojoDndItemBefore .dijitTreeContent {
  border-top: 2px solid #134570;
}
.corporate .dijitTreeNode .dojoDndItemAfter .dijitTreeContent {
  border-bottom: 2px solid #134570;
}
