.dijitIconSave {
background: url('missing.png') top left no-repeat;
width: 16px;
	height: 16px;
}

.dijitIconPrint {
background: url('missing.png') top left no-repeat;
width: 16px;
	height: 16px;
}

.dijitIconCut {
background: url('cut.png') top left no-repeat;
width: 16px;
	height: 16px;
}

.dijitIconCopy {
background: url('copy.png') top left no-repeat;
width: 16px;
	height: 16px;
}

.dijitIconClear {
background: url('close_tab.png') top left no-repeat;
	width: 16px;
	height: 16px;
}

.dijitIconDelete {
background: url('delete.png') top left no-repeat;
	width: 16px;
	height: 16px;
}

.dijitIconUndo {
background: url('undo.png') top left no-repeat;
	width: 16px;
	height: 16px;
}

.dijitIconEdit {
background: url('missing.png') top left no-repeat;
	width: 16px;
	height: 16px;
}

.dijitIconNewTask {
background: url('add.png') top left no-repeat;
	width: 16px;
	height: 16px;
}

.dijitIconEditTask {
background: url('missing.png') top left no-repeat;
	width: 16px;
	height: 16px;
}

.dijitIconEditProperty {
background: url('missing.png') top left no-repeat;
	width: 16px;
	height: 16px;
}

.dijitIconTask {
background: url('missing.png') top left no-repeat;
	width: 16px;
	height: 16px;
}

.dijitIconFilter {
background: url('missing.png') top left no-repeat;
	width: 16px;
	height: 16px;
}

.dijitIconConfigure {
background: url('missing.png') top left no-repeat;
	width: 16px;
	height: 16px;
}

.dijitIconSearch {
background: url('missing.png') top left no-repeat;
	width: 16px;
	height: 16px;
}

.dijitIconApplication {
background: url('missing.png') top left no-repeat;
	width: 16px;
	height: 16px;
}

.dijitIconBookmark {
background: url('missing.png') top left no-repeat;
	width: 16px;
	height: 16px;
}

.dijitIconChart {
background: url('missing.png') top left no-repeat;
	width: 16px;
	height: 16px;
}

.dijitIconConnector {
background: url('missing.png') top left no-repeat;
	width: 16px;
	height: 16px;
}

.dijitIconDatabase {
background: url('missing.png') top left no-repeat;
	width: 16px;
	height: 16px;
}

.dijitIconDocuments {
background: url('missing.png') top left no-repeat;
	width: 16px;
	height: 16px;
}

.dijitIconMail {
background: url('missing.png') top left no-repeat;
	width: 16px;
	height: 16px;
}

.dijitLeaf {
background: url('missing.png') top left no-repeat;
	width: 16px;
	height: 16px;
}

.dijitIconFile {
background: url('file.png') top left no-repeat;
	width: 16px;
	height: 16px;
}

.dijitIconFunction {
background: url('missing.png') top left no-repeat;
	width: 16px;
	height: 16px;
}

.dijitIconKey {
background: url('missing.png') top left no-repeat;
	width: 16px;
	height: 16px;
}

.dijitIconPackage {
background: url('missing.png') top left no-repeat;
	width: 16px;
	height: 16px;
}

.dijitIconSample {
background: url('missing.png') top left no-repeat;
	width: 16px;
	height: 16px;
}

.dijitIconTable {
background: url('table.png') top left no-repeat;
	width: 16px;
	height: 16px;
}

.dijitIconUsers {
background: url('missing.png') top left no-repeat;
	width: 16px;
	height: 16px;
}

.dijitFolderClosed {
background: url('tree_folder.png') top left no-repeat;
	width: 16px;
	height: 16px;
}

.dijitIconFolderClosed {
background: url('tree_folder.png') top left no-repeat;
	width: 16px;
	height: 16px;
}

.dijitFolderOpened {
background: url('open.png') top left no-repeat;
	width: 16px;
	height: 16px;
}

.dijitIconFolderOpen {
background: url('open.png') top left no-repeat;
	width: 16px;
	height: 16px;
}

.dijitIconError {
background: url('missing.png') top left no-repeat;
	width: 16px;
	height: 16px;
}


/*Loading animation*/
.dijitIconLoading {
background: url('missing.png') top left no-repeat;
	height: 20px;
	width: 20px;
}

